
<div class="card my-5 col-lg-6 mx-auto">
<div class="row justify-content-center">
 <div class="col-lg-8 mx-auto my-5">
    <h2>New Cocktail</h2>
    <%= simple_form_for(@cocktail) do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: "btn btn-success" %>
    <% end %>

    <div class="button">
    <%= link_to 'Back', root_path, class: "btn btn-primary" %>
  </div>
  </div>
</div>
 </div>
