.<div class="row">
  <div class="col-md-10 mx-auto">
<div>
<h1><strong><%= @cocktail.name %></strong></h1>
<% if @cocktail.photo.attached? %>
<%= cl_image_tag @cocktail.photo.key, height: 214, crop: :fill %>
<% end %>
</div>

<div>
  <h4><strong>Doses</strong></h4>
  <% @doses.each do |dose| %>
  <li><strong><%= dose.ingredient.name %></strong> : <%=dose.description %> <%= link_to "Delete", dose_path(dose), method: :delete, class: "btn-noborder" %></li>
  <% end %>
</div>
<div class="button">
<%= link_to "Add Ingredient", new_cocktail_dose_path(@cocktail), class: "btn-btn" %>
<%= link_to "Edit", edit_cocktail_path, class: "btn-btn" %>
<%= link_to "Remove", cocktail_path(@cocktail), method: :delete, data: {confirm: "Are you sure?"}, class: "btn-ghost"  %>
<%= link_to "Back", root_path, class: "btn-back" %>
  </div>
  </div>
</div>


