<div>
<h1><strong>Cocktail's name</strong></h1>
<p><%= @cocktail.name %></p>
</div>

<div>
  <h1><strong>Doses</strong></h1>
  <% @doses.each do |dose| %>
  <li><%= dose.description %> (<%= dose.ingredient.name %>)</li>
  <%= link_to "Delete", dose_path(dose), method: :delete %>
  <% end %>
</div>
<%= link_to "Add Ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-success" %>
<%= link_to "Write the doses", new_cocktail_dose_path(@cocktail), class: "btn btn-danger" %>
<%= link_to "Back", cocktails_path, class: "btn btn-primary" %>

